/* tag styls */
a{
    text-decoration: none;
    color: inherit
}

body{
    background-color: rgb(24, 2, 59);
    margin: 0;
    margin-top: 50px;
    color: antiquewhite;
}

nav{
    background-color: rgb(24, 2, 59);
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    color: antiquewhite;
}

pre{
    display: inline;
}

/* id styls */
#plans-backgraund{
    background-image: url(img/plans.png);
}

#gallery-backgraund{
    background-image: url(img/gallery.png);
}

#calendar-backgraund{
    background-image: url(img/calendar.png);
}

#about-backgraund{
    background-image: url(img/about.png);
}

/* class styls */
.a{
    color: inherit;
    font-size: 1.5rem;
}

.bold-paragraph{
    font-size: 1.5rem;
}

.container{
    margin-left: 100px;
    margin-right: 100px;
}

.home-div{
    width: 100%;
    height: 400px;

    background-image: url(img/background.png);
    background-size: cover;
    background-position: center;

    clip-path: ellipse(100% 90% at 50% 0%);
    text-align: center;
    color: rgb(24, 2, 59);
}

.home-h1{
    font-size: 3.5rem;
}

.home-item{
    width: calc(24% - 22.5px);
    height: 200px;

    margin-right: 1%;

    background-size: 100%;

    color: antiquewhite;
    border-radius: 15px;
}

.home-item h1 {
    font-size: 1.813rem;
}

.home-items{
    margin-left: 30px;
    margin-right: 20px;
}

.inline-ul {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.inlining{
    display: inline;
    margin-left: 5px;
    margin-right: 5px;
}

.logout-btn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    font: inherit;
    color: antiquewhite;
}


.logout-form{
    display: inline;
    font-size: 1.5rem;
}


.nav-header{
    color: inherit;
    font-size: 2rem;
}

.planet-detail{
    color: antiquewhite;
}

.planet-detail h1 {
    font-size: 4rem;
    text-align: center;
}

.planet-detail img {
    width: 100%;
}

.planet-item {
    width: calc(24% - 22.5px);
    height: 200px;

    margin-right: 1%;

    background-color: black;
    border-radius: 15px;

    text-align: center;
    max-width: 20rem;
}

.planet-item a {
    color: antiquewhite;
    text-decoration: none;
}

.planet-item h2 {
    margin: 10px 0;
}

.planet-item img {
    height: 130px;
    margin-top: 15px;
}